@keyframes sorted {
    from {opacity: 1}
    to {opacity: 0}
}

#scoreboard {
    background-color: darkcyan;
    width: 200px;
    height:100px;
    border-radius: rounded-bottom;
    border-style: double;
}

#timer {
    background-color: coral;
    width: 400px;
    height: 100px;
    border-radius: 10%;
    border-style: double;
}

#trash {
    width: 150px;
    height: 150px;
}

