html {
    background-color: darkgreen;
}

#homepage {
    width: 100%;
    height: 100%;
    background-color: cornsilk;
    visibility: visible;
    z-index: 3;
    position: absolute;
    align-self: center;
}

#pop-up {
    position: absolute;
    align-self: center;
    z-index: 4;
}

#end-game {
    position: absolute;
    align-self: center;
    z-index: 4;
}

#restart-game {
    visibility: hidden;
    z-index: 2;
}

#current-trash {
    width: 250px;
    height: 250px;
    display: flex;
    align-content: center;
    visibility: hidden;
}

#bin-container {}

#timer-header {
    border: none;
}

#scoreboard {
    background-color: darkcyan;
    width: 200px;
    height: 100px;
    /*border-radius: 10%;*/
    border-color: black;
    border-style: double;
}

#timer {
    background-color: coral;
    width: 400px;
    height: 100px;
    /*border-radius: 20%;*/
    border-color: black;
    border-style: double;
    */
}

#paperBin {
    background-color: burlywood;
    width: 150px;
    height: 200px;
}

#plasticBin {
    background-color: dodgerblue;
    width: 150px;
    height: 200px;
}

#compostBin {
    background-color: darkseagreen;
    width: 150px;
    height: 200px;
}

.name {
    text-align: center;
    color: white;
    border-style: double;
}

#start-button {
    color: black;
    text-decoration: none;
    cursor: default;
    position: absolute;
    z-index: 4;
    padding: 6px;
    align-self: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.whole {
    align-content: space-between;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-direction: column;
    z-index: 1;
}

.pop {
    visibility: hidden;
    position: absolute;
    z-index: 2;
    background-color: crimson;
    height: 400;
    width: 400;
    padding: 12px;
    align-self: center;
}

.input {
    width: 50;
    height: 50;
    text-align: center;
    color: white;
    font-size: 40px;
}



.cont2 {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-self: center;
}

.score {
    display: flex;
    justify-content: flex-end;
}

@keyframes paperMove {
    0% {
        top: 400px;
        left: 500px;
        opacity: 1;
    }

    100% {
        top: 200px;
        left: 150px;
        opacity: 0;
    }
}

.paper {
    position: absolute;
    animation-name: paperMove;
    animation-duration: 1s;
    animation-iteration-count: 1;
    opacity: 1;
}

@keyframes compostMove {
    0% {
        top: 400px;
        opacity: 1;
    }

    100% {
        top: 200px;
        opacity: 0;
    }
}

.compost {
    position: absolute;
    animation-name: compostMove;
    animation-duration: 1s;
    animation-iteration-count: 1;
    opacity: 1;
}

@keyframes plasticMove {
    0% {
        top: 400px;
        right: 500px;
        opacity: 1;
    }

    100% {
        top: 200px;
        right: 150px;
        opacity: 0;
    }
}

.plastic {
    position: absolute;
    animation-name: plasticMove;
    animation-duration: 1s;
    animation-iteration-count: 1;
    opacity: 1;
}
